# values : no, always, unless-stopped, on-failure
RESTART=no

# an additionnal waiting time will be added to the global waiting time
MIN_WAIT_TIME=60
MAX_WAIT_TIME=300

# ignore this if not on linux
# your uid and your gid, you can access it with the `id` command
UID=1000
GID=1000
